.appContainer {
	display: flex;
    align-items: center;
	justify-content: center;

}

.appContainer div {
	margin: 20px;
}

.loaderIcon {
	position: fixed;
	left: 50%;
    width: 50px;
}

.hidden {
	display: none;
}
